@import 'colors';

nav {
    background-color: #0489B1;
}

.brand-logo {
    img {
         height: 60px;
    }
}

.alinear{
    text-align: center;
    
}
.centrarVertical{
    display: flex;
    align-items: center;
}

.ramasProyectoMobil{
    display: none;
}
.pointer{
    cursor: pointer;
    font-size: 10vh;
}

.proyectos {
    h2 {
    text-align: center;
    margin-top: 10%;
  }
    button {
        margin-left: -10%;
        margin-top: 5%;
    }
}


#tema--general {
    margin-top: 7%;
}

#contenidos {
    h4 {
        margin-top: 5%;
    }
    
    .card-image {
        height: 200px;
    }
    .card-content {
        height: 220px;
    }
}

.card-panel {
    margin-top: 13%;
    height: 300px;
    background-color: white !important;
}

.tema {
	.tema__img {
		width: 80%;
	}
	
	.tema__parrafo {
		font-size: 1em;
	}
}


/*MEDIA QUERIES*/
$max-celular: 767px;
$max-ipad: 1024px; 


@media screen and (max-width: $max-celular) {
    .proyectos {
    button {
    margin-left: -26%; 
  }
 }
    
    .card {
        card-title {
          font-size: 3rem !important;  
        }
    }
}


@media screen and (min-width: $max-celular + 1) and (max-width: $max-ipad) {
    .proyectos {
    button {
    margin-top: 12%;
  }
 }
}


@media only screen and (max-width: 500px) {
    .ramasProyecto{
        display: none;
    }
    
    .ramasProyectoMobil{
        display: block;
    }

}



/*LOADING*/

.loader,
.loader:before,
.loader:after {
  background: black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: black;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.cargando {
    margin-top: 15%;
}

// inicia sección magenta
.pGrupal__titulo {
    margin-bottom: 50px;
    margin-top: 25px;
}

.feedback__mensaje {
    margin-bottom: 20px;
}

.avance-desarrollo{
    margin-top: 35px;
}

.avance-desarrollo__metas--descripcion {
    margin-bottom: 20px;
}

.feedback {
    margin-top: 100px;
}

.feedback__titulo {
    margin-bottom: 35px;
}
// termina sección magenta