@import 'colors';


.alinear{
    text-align: center;
    
}
.centrarVertical{
    display: flex;
    align-items: center;
}

.ramasProyectoMobil{
    display: none;
}
.pointer{
    cursor: pointer;
    font-size: 10vh;
}

.proyectos {
    h2 {
    text-align: center;
    margin-top: 10%;
  }
    button {
        margin-left: -10%;
        margin-top: 5%;
    }
}


#tema--general {
    margin-top: 7%;
}

#contenidos {
    h4 {
        margin-top: 5%;
    }
    
    .card-image {
        height: 200px;
    }
    .card-content {
        height: 220px;
    }
}

.card-panel {
    margin-top: 13%;
    height: 300px;
}

.teal {
  background-color: white !important; }

.tema {
	.tema__img {
		width: 80%;
	}
	
	.tema__parrafo {
		font-size: 1em;
	}
}


/*MEDIA QUERIES*/
$max-celular: 767px;
$max-ipad: 1024px; 


@media screen and (max-width: $max-celular) {
    .proyectos {
    button {
    margin-left: -26%; 
  }
 }
    
    .card {
        card-title {
          font-size: 3rem !important;  
        }
    }
}


@media screen and (min-width: $max-celular + 1) and (max-width: $max-ipad) {
    .proyectos {
    button {
    margin-top: 12%;
  }
 }
}


@media only screen and (max-width: 500px) {
    .ramasProyecto{
        display: none;
    }
    
    .ramasProyectoMobil{
        display: block;
    }

}